<aside>
	<div class="panel radius">
		<h3>唐寅</h3>
		<p>
			雨打梨花深闭门，忘了青春，误了青春。<br/>
			赏心乐事共谁论？花下销魂，月下销魂。<br/>
			愁聚眉峰尽日颦，千点啼痕，万点啼痕。<br/>
			晓看天色暮看云，行也思君，坐也思君。
		</p>
	</div>

  <!--  img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="" --> 
  <img class ="b30" src="https://dummyimage.com/303x170.5/fa87fa/000000.jpg&text=for+my+simple+boy" alt >


	<div class="border-dotted radius b30">
		<img src="https://mysimpleboy.github.io/images/love-unsplash.jpg" alt="uh, Placekitten">
	</div>
</aside>